$black : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$white : white;
$colorone: var(--txt-color);
$colortwo: var(--txt-white);
$colorfour: var(--calc-res-color);
$background-color1: var(--calc-bg);
$background-color2: var(--calc-btn-bg);
$background-color3: var(--calc-btn-upper-bg);
$bluegrey: #4B5EFC;